* {
    box-sizing: border-box;
}

.container{
    border: 3px solid lightgray;
    padding: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
}

.box {
    border: 3px solid lightgray;
    margin-bottom: 24px;
}

.box-small {
    height: 50px;
}

.box-wrapper {
    width: 45%;
    display: flex;
    flex-direction: column;
    /* not necessary to add the two lines above in this scenario */
}

.second-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.smallbox {
    border: 3px solid lightgray;
    height: 50px;
    width: 30%;
    margin-bottom: 24px;
}

.box-large {
    width: 45%;
}