.container{
    border: 3px solid lightgray;
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallbox {
    border: 2px solid lightgray;
    width: 20px;
    height: 20px;
}