@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
* {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid black;
}

.personal__logo {
  color: blueviolet;
  font-size: 2.5rem;
  font-weight: 700;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 1.2rem;
  border-radius: 30%;
}

a {
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 2px 8px;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  scroll-behavior: smooth;
}

#languageButton, #projectsButton {
  color: blueviolet;
  background-color: whitesmoke;
  transition: 0.15s;
}

#languageButton:hover, #projectsButton:hover {
  background-color: blueviolet;
  color: whitesmoke;
}

#contactButton {
  background-color: blueviolet;
  color: whitesmoke;
  transition: 0.15s;
}

#contactButton:hover {
  background-color: whitesmoke;
  color: blueviolet;
}