@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
* {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

.nav--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid black;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 1.75rem;
  border-radius: 30%;
  padding: 8px;
}